@media (min-width: 390px) and (max-width: 767px) {

  .nav-text {
    display: none;
  }

  #menu {
    display: block;
    width: 30px;
    height: 30px;
    background: url(/menu.png) no-repeat center center;
    background-size: cover;
  }

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }
  #mainpicture3 {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 12px;  
    margin-top: 12px;
    width: 100%;
    margin: 0 auto;
  }
  #ipad-hidden {
    display: flex;
  }
  #ipad {
    display: none;
  }
  #airpod {
    display: none;
  }
  #airpod-hidden {
    display: flex;
  }
  #watch-hidden {
    display: flex;
  }
  #watch {
    display: none;
  }
  #business {
    display: flex;
  }
  #carrier {
    display: flex;
  }
  #card {
    display: none;
  }
  #left {
    background-image: url(./ph-movie.jpg);
    background-size: cover;
  }
  #middle {
    background-image: url(./ph-movie2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #right {
    background-image: url(./ph-movie3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }








}
