@media (min-width: 768px) and (max-width: 1020px) {
  * {
  }
  .nav-text {
    display: none;
  }

  #menu {
    display: flex;
    width: 20px;
    height: 25px;
    background: url(/menu.png) no-repeat center center;
    background-size: cover;
  }

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #mainpicture3 {
    display: none;
  }

  #ipad-hidden {
    display: flex;
  }
  #ipad {
    display: none;
  }
  #airpod {
    display: none;
  }
  #airpod-hidden {
    display: flex;
  }
  #watch-hidden {
    display: flex;
  }
  #watch {
    display: none;
  }
  #business {
    display: flex;
  }
  #carrier {
    display: flex;
  }
  #card {
    display: none;
  }
  .movie-btn-holder {
    display: none;
  }
  #left {
    background-image: url(./tablet\ movie.jpg);
    background-size: cover;
  }
  #middle {
    background-image: url(./tablet\ movie2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #right {
    background-image: url(./tablet\ movie3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
